# django
Django==1.11

# authentication
django-allauth

# deployment
dj-config-url==0.1.1
gunicorn
whitenoise

#upload images
pillow==4.2.1

# utils
bs4
django-ckeditor
django-countries

django-countries

psycopg2