.card-container{
    height: 310px;
    overflow: hidden;
    margin-bottom: 0px;
}


.browse-container .card-container .card-header{
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12pt;
    padding: 0% 2%;
    background-color: #20412e;
    color: white;
}



.card-container .card-content{
    height: 220px;
    padding: 2% 10%;
    overflow: hidden;
}

.card-container .card-content img{
    /* height: 90%; */
    vertical-align: middle;
}

.card-container .card-footer{
    background-color: rgba(228, 228, 228, 0.77);
    font-size: 7pt;
    font-style: italic;
    height: 20px;
    margin: 0;
    padding: 2%;
    line-height: 10px;
    color: black;
}

select#id_filtered_country {
    max-width: 180px;
}