.panel{

}

.concept-div{
    margin: 1% 4%;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    text-align: center;
}

.concept-a{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
