.panel{

}

.concept-div{
    margin: 1% 4%;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    text-align: center;
}

.concept-a{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.concept-a:hover {
    color: #858585;
    text-decoration: none;
}

li.active{
    background-color: #ececec;
    border-style: solid;
    border-bottom-style: none;
    border-color: #cbcbcb;
    border-width: 1px;
}
