{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'fcm_app/css/fcm_browse.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container text-center browse-container">

        <h1>Available System Maps</h1>
{#        <form class="form-horizontal" action="#" method="post" id = "mysortform" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            <label>Sort by:</label>#}
{#            {{filter_form.filtered_sorting_type}}#}
{#        </form>#}
        <form class="form-horizontal" action="/fcm/browse?hasFilters=true" method="post" id = "mysortform" >
            {% csrf_token %}
                <div id = "browse_sort_by">
                    <span>
                        <label>Sort by:</label>
                        {{filter_form.filtered_sorting_type}}
                    </span>
                    <span>
                        {{filter_form.filtered_sorting_order}}
                    </span>
                    <span>
                        <button class="btn btn-sm">Sort</button>
                    </span>
                </div>

            <div class="col-sm-3" style="display: inline-block; background-color: white; padding-left: 25px; margin-top: 25px">

                <div class="form-group is-empty" style="display: inline-block">
                    <label><dt>Search by:</dt></label><br>
                    <label>Title or description:</label>
                    {{filter_form.filtered_title_and_or_description}}
                    <label>Tags:</label>
                    {{ filter_form.filtered_tags }}
                    <label>Year created:</label><br>
                    {{filter_form.filtered_year}}<br><br>
                    <label>Country:</label><br>
                    {{filter_form.filtered_country}}<br><br>
                    <label>My System Maps only:</label>
                    {{filter_form.filtered_getmine}}<br><br>
                    <input class="btn btn-sm btn-success" type="Submit" value="Search"/>
                    <input class="btn btn-sm btn-default" type="button" id="clear_btn" value="Clear"/>
                </div>
            </div>
        </form>
        <div class="col-sm-9">
            {% for fcm in all_fcms %}
                <div class="col-sm-4 card-container">
                    <a href="{% url 'fcm_app:view_fcm' fcm.id %}" class="card">
                        <div class="card-header text-center" title="{{ fcm.title }}{% if fcm.original is not None %}, updated by: {{ fcm.user.username }} {% endif %}">
                           {{ fcm.title }} {% if fcm.original is not None %}, updated by: {{ fcm.user.username }} {% endif %}
                        </div>
                        <div class="card-content text-center" style="position: relative">
                            {% if fcm.image_url != None %}
                                <img src="{{ fcm.image_url }}" alt="{{ fcm.description }}" class="img-responsive" >
                            {% else %}
                                <img src="{{ fcm.map_image.url }}" alt="{{ fcm.description }}" class="img-responsive" >
                            {% endif %}
                            <div class="hover-block text-center" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(98, 98, 98, 0.49);">
                                <h3 style="margin-top: 70px; color: #fff6f6; overflow-wrap: break-word;">{{ fcm.description }}</h3>
                            </div>
                        </div>
                        <div class="card-footer text-center"> Created at {{ fcm.creation_date|date:"d M Y" }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9 text-center">
            {% if all_fcms.has_other_pages %}
              <ul class="pagination">
                {% if all_fcms.has_previous %}
                  <li><a href="?page={{ all_fcms.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in all_fcms.paginator.page_range %}
                  {% if all_fcms.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if all_fcms.has_next %}
                  <li><a href="?page={{ all_fcms.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        </div>
    </div>
    <select id= "multiselect_options"  style="display: none">
        {% for el in filter_tags %}
            <option selected="true" value={{ el }}>{{ el }}</option>
        {% endfor %}
    </select>

{% endblock %}

{% block js %}

    <script>
        $(document).ready(function () {
            $('select').addClass("full-width");

            $('#id_filtered_tags').append($("#multiselect_options").html());
            $('#id_filtered_tags').select2({
                tags:true,
                tokenSeparators: [',', ' ']
            });

            $('#id_filtered_year').select2();
            $('#id_filtered_country').select2();
{#            $('#id_filtered_sorting_type').select2();#}
{#            $(".select2").css('width', '100%;');#}
        })


        $(function(){
            $('#browse_sort_by button').click(function(){
                $('#mysortform').submit();
            });
        });


        $('#clear_btn').click(function(){
            $('#id_filtered_title_and_or_description').val("");
            $('#id_filtered_tags option').each(function () {
                $(this).remove();
            });
            $('#id_filtered_year').val("-").trigger("change");
            $('#id_filtered_country').val("-").trigger("change");
            $('#id_filtered_getmine').prop('checked', false);
            $('#id_filtered_sorting_type').val("creation_date").trigger("change");
            $('#id_filtered_sorting_order').val("ascending ").trigger("change");
        });


    </script>

{% endblock %}

