{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'fcm_app/css/fcm_browse.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container text-center browse-container">

        <h1>Available System Maps</h1>
        <div class="col-sm-3" style="display: inline-block; background-color: white; padding-left: 25px; margin-top: 25px">
            <form class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group is-empty" style="display: inline-block">
                    <label><dt>Filter by:</dt></label><br>
                    <label>Title and/or description:</label>
                    {{filter_form.filtered_title_and_or_description}}
                    <label>Year created:</label><br>
                    {{filter_form.filtered_year}}<br><br>
                    <label>Country:</label><br>
                    {{filter_form.filtered_country}}<br><br>
                    <label>Bring my System Maps:</label>
                    {{filter_form.filtered_getmine}}<br><br>
                    <input class="btn btn-sm btn-success" type="Submit" value="Submit"/>
                </div>
            </form>
        </div>
        <div class="col-sm-9">
            {% for fcm in all_fcms %}
                <div class="col-sm-4 card-container">
                    <a href="{% url 'fcm_app:view_fcm' fcm.id %}" class="card">
                        <div class="card-header text-center" title="{{ fcm.title }}">
                           {{ fcm.title }}
                        </div>
                        <div class="card-content text-center" style="position: relative">
                            <img src="{{ fcm.map_image.url }}" alt="{{ fcm.description }}" class="img-responsive" >
                            <div class="hover-block text-center" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(98, 98, 98, 0.49);">
                                <h3 style="margin-top: 70px; color: #fff6f6;">Explore</h3>
                            </div>
                        </div>
                        <div class="card-footer text-center"> Created at {{ fcm.creation_date|date:"d M Y" }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9 text-center">
            {% if all_fcms.has_other_pages %}
              <ul class="pagination">
                {% if all_fcms.has_previous %}
                  <li><a href="?page={{ all_fcms.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in all_fcms.paginator.page_range %}
                  {% if all_fcms.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if all_fcms.has_next %}
                  <li><a href="?page={{ all_fcms.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}

    <script>
        $(document).ready(function () {
            $('select').addClass("full-width");
            $('select').select2();
            $(".select2").css('width', '100%;');
        })

    </script>

{% endblock %}

