{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'fcm_app/css/import_fcm.css' %}" rel="stylesheet" />
    <style type="text/css">

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }
        /*
        body, select {
            font: 10pt sans;
        }
        */
        #node-popUp{
            font-size: 14px;
        }
        #edge-popUp{
            font-size: 12px;
        }

        table input {
            width: 100%;
        }
        table textarea {
            width: 100%;
        }


        #mynetwork {
          position:relative;
          width: auto;
          height: 600px;
          border: 1px solid lightgray;
          clear:both;
        }
        table.legend_table {
          font-size: 11px;
          border-width:1px;
          border-color:#d3d3d3;
          border-style:solid;
        }
        table.legend_table,td {
          border-width:1px;
          border-color:#d3d3d3;
          border-style: none;
          padding: 2px;
        }
        div.table_content {
          width:80px;
          text-align:center;
        }
        div.table_description {
          width:100px;
        }
        #operation {
          font-size:28px;
        }
        #node-popUp {
          display:none;
          position:absolute;
          top:350px;
          left:30vw;
          z-index:299;
          width:450px;
          height:250px;
          background-color: #f9f9f9;
          border-style:solid;
          border-width:3px;
          border-color: #5394ed;
          padding:10px;
          text-align: center;
          background-color: white;
          overflow: auto;
        }
        #edge-popUp {
          display:none;
          position:absolute;
          top:350px;
          left:30vw;
          z-index:299;
          width:450px;
          height:150px;
          background-color: #f9f9f9;
          border-style:solid;
          border-width:3px;
          border-color: #5394ed;
          padding:10px;
          text-align: center;
          background-color: white;
          overflow: auto;
        }
    </style>

{% endblock %}

{% block content %}

    <script type="text/javascript" src="http://visjs.org/examples/network/exampleUtil.js"></script>
	<script type="text/javascript" src="http://visjs.org/dist/vis.js"></script>
    <link href="http://visjs.org/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="col-sm-8 col-sm-offset-2 alert alert-dismissible alert-danger">
                     <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><br><br><br><br>
            {% else %}
                <div class="col-sm-8 col-sm-offset-2 alert alert-dismissible alert-success">
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><br><br><br><br>
            {% endif %}
        {% endfor %}

    {% endif %}


    <script type="text/javascript">
    var numOfNodes = 0;
    var numOfEdges = 0;
    var nodes = null;
    var edges = null;
    var network = null;
    // randomly create some nodes and edges
    var data = getScaleFreeNetwork(0);
    console.log(data);
    var seed = 2;
    function setDefaultLocale() {
      var defaultLocal = navigator.language;
      var select = document.getElementById('locale');
      select.selectedIndex = 0; // set fallback value
      for (var i = 0, j = select.options.length; i < j; ++i) {
        if (select.options[i].getAttribute('value') === defaultLocal) {
          select.selectedIndex = i;
          break;
        }
      }
    }
    function destroy() {
      if (network !== null) {
        network.destroy();
        network = null;
      }
    }




    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
        output.innerHTML = this.value;

        data.nodes[0].color.background = "green";
    };










    function draw() {
      destroy();
      nodes = [];
      edges = [];
      // create a network
      var container = document.getElementById('mynetwork');
      var options = {
        physics: {
          enabled: false
        },
        edges:{
            scaling:{
                  min:1,
                  max:10
            }
        },
        nodes: {
            shape: 'box',
            margin: 10,
            widthConstraint: {
                maximum: 400,
                minimum: 150
            },
            color: {
              border: '#dedede',
              background: '#dedede'
            },
            scaling:{
                label: {
                  min:1,
                  max:10
                }
            }
        },
        layout: {randomSeed:seed}, // just to make sure the layout is the same when the locale is changed
        locale: document.getElementById('locale').value,
        manipulation: {
          addNode: function (data, callback) {
            console.log(data);
            // filling in the popup DOM elements
            document.getElementById('node-operation').innerHTML = "Add Node";
            editNodeAdd(data, clearNodePopUp, callback);
          },
          editNode: function (data, callback) {
            // filling in the popup DOM elements
            document.getElementById('node-operation').innerHTML = "Edit Node";
            editNodeEdit(data, cancelNodeEdit, callback);
          },
          addEdge: function (data, callback) {
            if (data.from == data.to) {
              var r = confirm("Do you want to connect the node to itself?");
              if (r != true) {
                callback(null);
                return;
              }
            }
            document.getElementById('edge-operation').innerHTML = "Add Edge";
            editEdgeWithoutDragAdd(data, callback);
          },
          editEdge: {
            editWithoutDrag: function(data, callback) {
              document.getElementById('edge-operation').innerHTML = "Edit Edge";
              editEdgeWithoutDragEdit(data,callback);
            }
          },
          deleteNode: function (info, callback){
            console.log("diagrafike komvos");
            var akmes = info.edges.length;
            if ( akmes!==0){
              var y =0; // dinei to id tis protis akmis pou tha diagrafei
              for (var i = akmes - 1; i >= 0; --i) {
                y = info.edges[i]
                for (var j = data.edges.length - 1; j >= 0; --j) {
                if (data.edges[j].id == y) {
                  console.log(j);
                  data.edges.splice(j,1);
                  break;
                }
              }
            }
            }
            var x = info.nodes[0] // dinei to id tou komvou pou tha diagrafei
            //var y = data.nodes.filter(item => ((item.id === x)))  //dinei ta stoixeia tou komvou pou theloume na diagrapsoume
            for (var i = data.nodes.length - 1; i >= 0; --i) {
              if (data.nodes[i].id == x) {
                console.log(i);
                data.nodes.splice(i,1);
                break;
              }
            }
            console.log(data);
            callback(info);
          },
          deleteEdge: function (info, callback){
            console.log("diagrafike akmi");
            var x = info.edges[0] // dinei to id tis akmis pou tha diagrafei
            //var y = data.nodes.filter(item => ((item.id === x)))  //dinei ta stoixeia tou komvou pou theloume na diagrapsoume
            for (var i = data.edges.length - 1; i >= 0; --i) {
              if (data.edges[i].id == x) {
                console.log(i);
                data.edges.splice(i,1);
                break;
              }
            }
            console.log(data);
            callback(info);
          }
        }
      };
      /*
      var lala = {"nodes":[{"id":0,"label":"0"},{"id":1,"label":"1"},{"id":2,"label":"2"},{"id":3,"label":"3"},{"id":4,"label":"4"},{"id":5,"label":"5"}],"edges":[{"from":1,"to":0,"id":"31f2e17b-5e4a-4e60-bc79-aeb2dde3800f"},{"from":2,"to":0,"id":"57c796d6-b560-4a24-b037-b8b03d3cdbb5"},{"from":3,"to":2,"id":"da8c3f78-d5ea-4cc2-b97b-bd09116dd6ba"},{"from":4,"to":3,"id":"4601698a-234f-4a45-9233-77bd970d70cb"},{"from":5,"to":4,"id":"3d83d4a2-4cea-45ac-b34d-23ebda61f387"}]}
      var lala2 = {"nodes":[{"id":1,"label":"Node 1","x":0,"y":0,"shape":"box"},{"id":2,"label":"Node 2","x":-308,"y":-144,"shape":"box"},{"id":3,"label":"Node 3","x":-319.5454545454545,"y":-52.45454545454549,"shape":"box"},{"id":4,"label":"Node 4","x":-312.27272727272725,"y":46.63636363636359,"shape":"box"},{"id":5,"label":"Node 5","x":-302.81818181818176,"y":136.090909090909,"shape":"box"},{"id":6,"label":"Node 6","x":-236.81818181818176,"y":49.09090909090901,"shape":"box"}],"edges":[{"id":1,"label":"1 se 0","from":2,"to":1},{"id":2,"label":"2 se 0","from":3,"to":1},{"id":3,"label":"3 se 2","from":4,"to":3},{"id":4,"label":"4 se 3","from":5,"to":4},{"id":5,"label":"5 se 4","from":6,"to":5}]}
      var lala3 = {"nodes":[{"id":1,"label":"Node 1","x":0,"y":0,"shape":"box"},{"id":2,"label":"Node 2","x":-308,"y":-144,"shape":"box"},{"id":3,"label":"Node 3","x":-319.5454545454545,"y":-52.45454545454549,"shape":"box"},{"id":4,"label":"Node 4","x":-312.27272727272725,"y":46.63636363636359,"shape":"box"},{"id":5,"label":"Node 5","x":-302.81818181818176,"y":136.090909090909,"shape":"box"},{"id":6,"label":"Node 6","x":-236.81818181818176,"y":49.09090909090901,"shape":"box"},{"id":7,"label":"sds","x":-310.05626649800604,"y":-149.29670101968725,"shape":"box"}],"edges":[{"id":1,"label":"1 se 0","from":2,"to":1},{"id":2,"label":"2 se 0","from":3,"to":1},{"id":3,"label":"3 se 2","from":4,"to":3},{"id":4,"label":"4 se 3","from":5,"to":4},{"id":5,"label":"5 se 4","from":6,"to":5}]}
      var lala4 = {"nodes":[{"id":1,"label":"aa","x":-334,"y":-181,"shape":"box"},{"id":2,"label":"bb","x":257,"y":-165,"shape":"box"},{"id":3,"label":"cc","x":-296,"y":162,"shape":"box"},{"id":4,"label":"dd","x":283,"y":159,"shape":"box"},{"id":5,"label":"ee","x":-14,"y":4,"shape":"box"}],"edges":[{"id":1,"label":"aaee","from":1,"to":5},{"id":2,"label":"bbee","from":5,"to":2}]}
      var lala5 = {"nodes":[{"id":"1","label":"aa","x":-334,"y":-181,"shape":"box"},{"id":"2","label":"bb","x":257,"y":-165,"shape":"box"},{"id":"3","label":"cc","x":"-296","y":"162","shape":"box"},{"id":"4","label":"dd","x":"283","y":"159","shape":"box"},{"id":"5","label":"ee","x":"-14","y":"4","shape":"box"}],"edges":[{"id":"1","label":"aaee","from":"1","to":"5"},{"id":"2","label":"bbee","from":"5","to":"2"}]}
      var lala6 = {"nodes":[{"id":1,"label":"aa","x":"0","y":"0","shape":"box"},{"id":2,"label":"bb","x":50,"y":0,"shape":"box"},{"id":3,"label":"cc","shape":"box"},{"id":4,"label":"dd","shape":"box"},{"id":5,"label":"ee","shape":"box"}],"edges":[{"id":1,"label":"aaee","from":1,"to":5},{"id":2,"label":"bbee","from":5,"to":2}]}
      var sketos = {"nodes":[{"id":0,"label":"sketos", "fixed": true, "x":0,"y":0, "shape":"box"}, {"id":1,"label":"sketos1", "fixed": true, "x":0,"y":0, "shape":"box"}],"edges":[]}
      var lala7 = {"nodes":[{"id":1,"label":"vv","x":-339.97569465637207,"y":-212.6944580078125,"shape":"box","fixed":true},{"id":2,"label":"bb","x":237.02430534362793,"y":19.3055419921875,"shape":"box","fixed":true},{"id":3,"label":"cc","x":-313.97569465637207,"y":159.3055419921875,"shape":"box","fixed":true}],"edges":[{"id":1,"label":"cc","from":1,"to":2},{"id":2,"label":"cvbcv","from":3,"to":2}]}
      data = lala7;
      */
      network = new vis.Network(container, data, options);
      network.enableEditMode();
{#        network.on("click", function (ctx) {#}
{#            var dataURL = ctx.canvas.toDataURL();#}
{#            document.getElementById('canvasImg').src = dataURL;#}
{#        });#}
    }
    function editNodeEdit(info, cancelAction, callback) {
      console.log(data);
      console.log(info.id);
      console.log(info.label);
      document.getElementById('node-label').value = info.label;
      document.getElementById('node-saveButton').onclick = saveNodeDataEdit.bind(this, info, callback);
      document.getElementById('node-cancelButton').onclick = cancelAction.bind(this, callback);
      document.getElementById('node-popUp').style.display = 'block';
    }

    function editNodeAdd(info, cancelAction, callback) {
      console.log(data);
      console.log(info.id);
      console.log(info.label);
      document.getElementById('node-label').value = info.label;
      document.getElementById('node-saveButton').onclick = saveNodeDataAdd.bind(this, info, callback);
      document.getElementById('node-cancelButton').onclick = cancelAction.bind(this, callback);
      document.getElementById('node-popUp').style.display = 'block';
    }
    // Callback passed as parameter is ignored
    function clearNodePopUp() {
      document.getElementById('node-saveButton').onclick = null;
      document.getElementById('node-cancelButton').onclick = null;
      document.getElementById('node-popUp').style.display = 'none';
    }
    function cancelNodeEdit(callback) {
      clearNodePopUp();
      callback(null);
    }
    function saveNodeDataAdd(info, callback) {
      info.label = document.getElementById('node-label').value;
      numOfNodes++;
      info.id = numOfNodes;
      info.shape = 'box';

      info.color = document.getElementById('node-color').value;
      console.log(info);
      //info.title = document.getElementById('node-title').value;
      data.nodes.push({
        id: info.id,
        label: info.label,
        color: info.color,
        x: info.x,
        y: info.y,
        shape: 'box',
        fixed: true
      });
      clearNodePopUp();
      callback(info);
    }
    function saveNodeDataEdit(info, callback) {
      info.label = document.getElementById('node-label').value;

      info.color = document.getElementById('node-color').value;

      var x = data.nodes;
      var y = x.filter(item => ((item.id === info.id) ));
      y[0].label = info.label;
      y[0].color = info.color;
      clearNodePopUp();
      callback(info);
    }
    function editEdgeWithoutDragAdd(data, callback) {
      // filling in the popup DOM elements
      document.getElementById('edge-label').value = data.label;
      document.getElementById('edge-saveButton').onclick = saveEdgeDataAdd.bind(this, data, callback);
      document.getElementById('edge-cancelButton').onclick = cancelEdgeEdit.bind(this,callback);
      document.getElementById('edge-popUp').style.display = 'block';
    }
    function editEdgeWithoutDragEdit(data, callback) {
      // filling in the popup DOM elements
      document.getElementById('edge-label').value = data.label;
      document.getElementById('edge-saveButton').onclick = saveEdgeDataEdit.bind(this, data, callback);
      document.getElementById('edge-cancelButton').onclick = cancelEdgeEdit.bind(this,callback);
      document.getElementById('edge-popUp').style.display = 'block';
    }
    function clearEdgePopUp() {
      document.getElementById('edge-saveButton').onclick = null;
      document.getElementById('edge-cancelButton').onclick = null;
      document.getElementById('edge-popUp').style.display = 'none';
    }
    function cancelEdgeEdit(callback) {
      clearEdgePopUp();
      callback(null);
    }
    function saveEdgeDataAdd(info, callback) {
      if (typeof info.to === 'object')
        info.to = info.to.id;
      if (typeof info.from === 'object')
        info.from = info.from.id;
      var label = document.getElementById('edge-label').value;
      var color = "grey";
      var w = 0;
      if (label !== "") {
          w = parseFloat(label);
          if (w > 0)
              color = "#86d286";
          else {
              color = "#ff8383";
              w = w * (-1)
          }
      }

      info.label = label;
      info.width = (w * 10) + 1;
      info.color = { color: color };
      numOfEdges++;
      info.id = numOfEdges;
      data.edges.push({
        id: info.id,
        label: info.label,
        from: info.from,
        to: info.to,
        label: label,
        width: (w * 10) + 1,
        color: { color: color }

      });
      clearEdgePopUp();
      callback(info);
    }
    function saveEdgeDataEdit(info, callback) {
      if (typeof info.to === 'object')
        info.to = info.to.id;
      if (typeof info.from === 'object')
        info.from = info.from.id;

      var label = document.getElementById('edge-label').value;
      var color = "grey";
      var w = 0;
      if (label !== "") {
          w = parseFloat(label);
          if (w > 0)
              color = "#86d286";
          else {
              color = "#ff8383";
              w = w * (-1)
          }
      }

      info.label = label;
      info.width = (w * 10) + 1;
      info.color = { color: color };

      var x = data.edges;
      var y = x.filter(item => ((item.id === info.id) ))
      y[0].label = info.label;
      y[0].width = (w * 10) + 1;
      y[0].color = { color: color };
      clearEdgePopUp();
      callback(info);
    }
    function init() {
      setDefaultLocale();
      draw();
    }
    var lastdata = "blabla";
    function kaneStringToData(){
      for (var i = data.nodes.length - 1; i >= 0; --i) {
        data.nodes[i].x = network.canvas.body.nodes[data.nodes[i].id].x;
        data.nodes[i].y = network.canvas.body.nodes[data.nodes[i].id].y;
      }
      lastdata = JSON.stringify(data);   // metatrepei se string to data
      document.getElementById('id_chartis').value = lastdata;
      console.log(lastdata);
      //console.log(lastdata);
      //document.getElementById('timi_pou_thelo').value = lastdata;
      //document.getElementById('id_description').value = lastdata;
    }

  </script>

<body onload="init(); ">
<div class="container text-center create-fcm-container">
    <h1>Create a new System Map</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            In the editor below you can create your own System Map or edit and save under another name an existing one.<br/>
            The map consists of nodes representing concepts (“income”, “unemployment”, etc.) and links representing cause-effect relationships between them.
        </div>
    </div>

    <a id="publish-link-btn" href="#publish_form" class="btn btn-default" style="background-color: #327666;">Publish</a>
    <a id="cancel-link-btn" href="/fcm/browse" class="btn btn-default">Cancel</a>

    <p style="display: none;">
      <label for="locale">Select a locale:</label>
      <select id="locale" onchange="draw();">
        <option value="en">en</option>
      </select>
    </p>


    <div id="node-popUp">
      <span id="node-operation">node</span> <br>
      <table style="margin: 0;width: 100%;">
        <tr hidden>
          <td>id</td><td><input id="node-id" value="la"/></td>
        </tr>
        <tr>
            <td>Label</td><td><textarea cols="40" rows="5" id="node-label" value="la" ></textarea></td>
        </tr>
        <tr>
          <td>Color</td>
            <td>
                <select id="node-color">
                    <option value="#dedede" selected>Grey</option>
                    <option value="#ff8383" >Red</option>
                    <option value="#86d286" >Green</option>
                    <option value="#89bbff" >Blue</option>
                    <option value="#d6b680" >Brown</option>
                </select>
            </td>
        </tr>
{#        <tr>#}
{#            <td>Width</td><td  class="slidecontainer"><span id="demo"></span><input type="range" min="1" max="100" value="50" class="slider" id="myRange"></td>#}
{#        </tr>#}
        <!--tr>
          <td>title</td><td><input id="node-title" value="" /></td>
        </tr-->
      </table>
      <input type="button" value="save" id="node-saveButton" />
      <input type="button" value="cancel" id="node-cancelButton" />
    </div>

    <div id="edge-popUp">
      <span id="edge-operation">edge</span> <br>
      <table style="margin: 0;width: 100%;">
        <tr>
          <td style="width: 75px;">weight</td><td><input id="edge-label" type="number" min="-1" max="1" step="0.1" value="new value" onkeyup="this.value = minmax(this.value, -1, 1)"/></td>
        </tr>
      </table>
      <input type="button" value="save" id="edge-saveButton" />
      <input type="button" value="cancel" id="edge-cancelButton" />
    </div>
    <!--div>
    <form class="form-horizontal" action="{% url 'fcm_app:create_map' %}" method="post" enctype="multipart/form-data">
    {#  {% csrf_token %}#}
      <div>
        <input id="search" name="search" type="text" class="query-search" placeholder="Search...">
        <button type="submit" onclick="kaneStringToData()">Save</button>
        <input class="btn btn-primary" type="submit" value="submit">

      </div>
    </form>
    </div-->

    <br/>
    <div class="col-sm-offset-1 col-sm-10 panel panel-default" style="padding: 0; margin-top: 0;">
        <div id="mynetwork"></div>
    </div>
</div>
<br/>

<div class="col-sm-offset-1 col-sm-10 fcm-import-card" id="publish_form">
    <div class="card">
        <div class="card-header card-header-text" data-background-color="rose">
            <h4 class="card-title">Publish a new System Map</h4>
        </div>
        <div class="card-content">
            <form class="form-horizontal" action="{% url 'fcm_app:create_map' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="form-group is-empty">
                                {% if field.label != 'Chartis' %}
                                    <label>{{ field.label }}</label>
                                 {% endif %}
                                {{ field }}
                            </div>
                        </div>
                     </div>
                {% endfor %}
                <div id = "timi_pou_thelo" name = "timi_pou_thelo"  value ="fdf" ></div>
                <div class="row">
                     <div class="col-sm-offset-1 col-sm-8" style="padding: 0;">
                         <input type="submit" class="btn btn-success btn-rose" onclick="kaneStringToData()" value="Submit" ><div class="ripple-container"></div></input>
                     </div>
                </div>
{#                <input type="submit" onclick="kaneStringToData()" value="Submit" />#}
                <!--button type="submit" onclick="kaneStringToData()" class="btn btn-success btn-rose">Submit<div></div></button-->
            </form>
        </div>
    </div>
</div>


{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            $('select').select2();
        });


        function minmax(value, min, max)
        {
            if(parseFloat(value) < min || isNaN(parseFloat(value)))
                return min;
            else if(parseFloat(value) > max)
                return max;
            else return value;
        }

    </script>
{% endblock %}