{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'fcm_app/css/edit_fcm.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<!--Eprepe na vgaloume ta sxolia edo sta messages gt deihnei to message se alli selida-->
   {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="col-sm-8 col-sm-offset-2 alert alert-danger">
                   <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>
            {% else %}
                <div class="col-sm-8 col-sm-offset-2 alert alert-success">
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>
            {% endif %}
        {% endfor %}

    {% endif %}

    <div class="col-sm-offset-1 col-sm-10 edit-fcm-container">
        <h1 class="col-sm-12" style="text-align: center">Edit the {{ fcm.title }}</h1>
    </div>
    <div class="col-sm-offset-1 col-sm-10 panel panel-default">
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Save" class="btn btn-success">
            </form>
        </div>
    </div>

    <div class="col-sm-offset-1 col-sm-8">
        <btn class="btn btn-default"><a href="{% url 'fcm_app:view_fcm_concept' fcm_id=fcm.id %}">Available Concepts and Nodes</a></btn>
    </div>

    <div class="col-sm-2">
        <btn id="delete-fcm" class="btn btn-danger" style="float: right;">Delete</btn>
    </div>

    <div style="display: none;">
        <div id="dialog" style="text-align: center">
            <p>Are you sure you want to delete the System Map?</p>
            <btn id="cancel-delete" class="btn btn-default">Cancel</btn>
            <btn id="confirm-delete" class="btn btn-danger"><a href="{% url 'fcm_app:delete_fcm' fcm_id=fcm.id %}"> Delete </a></btn>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script>

        $(document).ready(function () {
             $('#id_tags').select2({
                tags:true,
                tokenSeparators: [',', ' ']
            });
            $('#id_country').select2();
        });

        $("#delete-fcm").click(function () {
           $( "#dialog" ).dialog();
        });

        $("#cancel-delete").click(function () {
            $(this).closest('.ui-dialog-content').dialog('close');
        });

    </script>


{% endblock %}