{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'fcm_app/css/edit_fcm.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="col-sm-8 col-sm-offset-2 alert alert-danger">
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>
            {% else %}
                <div class="col-sm-8 col-sm-offset-2 alert alert-success">
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>
            {% endif %}
        {% endfor %}

    {% endif %}

    <div class="col-sm-offset-1 col-sm-10">
        <h1 class="col-sm-12" style="text-align: center">Edit the FCM</h1>
    </div>
    <div class="col-sm-offset-1 col-sm-10 panel panel-default">
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Save" class="btn btn-success">
            </form>
        </div>
    </div>

    <div class="col-sm-offset-1 col-sm-10">
        <btn class="btn btn-default"><a href="{% url 'fcm_app:view_fcm_concept' fcm_id=fcm.id %}"> Edit the concepts </a></btn>
    </div>

{% endblock %}

{% block js %}

{% endblock %}