{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'fcm_app/css/edit_fcm.css' %}" rel="stylesheet" />
    <link href="{% static 'fcm_app/css/import_fcm.css' %}" rel="stylesheet" />
    <link href="{% static 'fcm_app/css/create_fcm.css' %}" rel="stylesheet" />
    <style type="text/css">
        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }


        /*
        body, select {
            font: 10pt sans;
        }
        */
        #node-popUp{
            font-size: 14px;
        }
        #edge-popUp{
            font-size: 12px;
        }

        #node-popUp td, #edge-popUp td{
            border-style: none;
        }

        table input {
            width: 100%;
        }
        table textarea {
            width: 100%;
        }


        #mynetwork {
          position:relative;
          width: auto;
          height: 600px;
          border: 1px solid lightgray;
          clear:both;
        }
        table.legend_table {
          font-size: 11px;
          border-width:1px;
          border-color:#d3d3d3;
          border-style:solid;
        }
        table.legend_table,td {
          border-width:1px;
          border-color:#d3d3d3;
          border-style:solid;
          padding: 2px;
        }
        div.table_content {
          width:80px;
          text-align:center;
        }
        div.table_description {
          width:100px;
        }
        #operation {
          font-size:28px;
        }
        #node-popUp {
          display:none;
          position:absolute;
          top:350px;
          left:30vw;
          z-index:299;
          width:650px;
          height:450px;
          background-color: #f9f9f9;
          border-style:solid;
          border-width:3px;
          border-color: #5394ed;
          padding:10px;
          text-align: center;
          background-color: white;
          overflow: auto;
        }
        #edge-popUp {
          display:none;
          position:absolute;
          top:350px;
          left:30vw;
          z-index:299;
          width:650px;
          height:450px;
          background-color: #f9f9f9;
          border-style:solid;
          border-width:3px;
          border-color: #5394ed;
          padding:10px;
          text-align: center;
          background-color: white;
          overflow: auto;
        }
    </style>
{% endblock %}

{% block content %}

{#    {% if messages %}#}
{#        {% for message in messages %}#}
{#            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}#}
{#                <div class="col-sm-8 col-sm-offset-2 alert alert-danger">#}
{#                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>#}
{#                </div>#}
{#            {% else %}#}
{#                <div class="col-sm-8 col-sm-offset-2 alert alert-success">#}
{#                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>#}
{#                </div>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{##}
{#    {% endif %}#}


    <script type="text/javascript" src="{% static 'js/exampleUtil.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vis.min.js' %}"></script>
    <link href="{% static 'css/vis.min.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="col-sm-8 col-sm-offset-2 alert-dismissible alert alert-danger">
                     <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><br><br><br><br>
            {% else %}
                <div class="col-sm-8 col-sm-offset-2 alert-dismissible alert alert-success">
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><br><br><br><br>
            {% endif %}
        {% endfor %}

    {% endif %}


<script type="text/javascript">
    var numOfNodes = 0;  //PREPEI NA PAIRNO TO NUM OF NODES APO OSOUS EINAI DIMIOURGIMENOI
    var numOfEdges = 0;   //PREPEI NA PAIRNO TO NUM OF EDGES APO OSOUS EINAI DIMIOURGIMENOI
    var test = 0;
    var nodes = null;
    var edges = null;
    var network = null;
    // randomly create some nodes and edges
    var data = getScaleFreeNetwork(0);
    console.log(data);
    var seed = 2;
    function setDefaultLocale() {
      var defaultLocal = navigator.language;
      var select = document.getElementById('locale');
      select.selectedIndex = 0; // set fallback value
      for (var i = 0, j = select.options.length; i < j; ++i) {
        if (select.options[i].getAttribute('value') === defaultLocal) {
          select.selectedIndex = i;
          break;
        }
      }
    }
    function destroy() {
      if (network !== null) {
        network.destroy();
        network = null;
      }
    }
    function draw() {
      destroy();
      nodes = [];
      edges = [];
      // create a network
      var container = document.getElementById('mynetwork');
      var options = {
        physics: {
          enabled: false
        },
        edges:{
            scaling:{
                  min:1,
                  max:10
            },
            arrows: {
                    to:     {enabled: true, scaleFactor:1, type:'arrow'},
                    middle: {enabled: false, scaleFactor:1, type:'arrow'},
                    from:   {enabled: false, scaleFactor:1, type:'arrow'}
            },
            arrowStrikethrough: false,
            smooth:{
                enabled: true,
                type: 'curvedCW',
                roundness: 0.15,
            },
            font:{
                align: 'top',
            }
        },
        nodes: {
            shape: 'box',
            margin: 10,
            widthConstraint: {
                maximum: 400,
                minimum: 150
            },
            color: {
              border: '#dedede',
              background: '#dedede'
            },
            scaling:{
                label: {
                  min:1,
                  max:10
                }
            },
            font: {
                color:'white'
            },
        },
        layout: {randomSeed:seed}, // just to make sure the layout is the same when the locale is changed
        locale: document.getElementById('locale').value,
        manipulation: {
          addNode: function (data, callback) {
            console.log(data);
            // filling in the popup DOM elements
            document.getElementById('node-operation').innerHTML = "Add Node";
            editNodeAdd(data, clearNodePopUp, callback);
          },
          editNode: function (data, callback) {
            // filling in the popup DOM elements
            document.getElementById('node-operation').innerHTML = "Edit Node";
            editNodeEdit(data, cancelNodeEdit, callback);
          },
          addEdge: function (data, callback) {
            if (data.from == data.to) {
              var r = confirm("Do you want to connect the node to itself?");
              if (r != true) {
                callback(null);
                return;
              }
            }
            document.getElementById('edge-operation').innerHTML = "Add Edge";
            editEdgeWithoutDragAdd(data, callback);
          },
          editEdge: {
            editWithoutDrag: function(data, callback) {
              document.getElementById('edge-operation').innerHTML = "Edit Edge";
              editEdgeWithoutDragEdit(data,callback);
            }
          },
          deleteNode: function (info, callback){
            var deletion_choice = confirm("Are you sure, you want to delete the node?");
            if (deletion_choice == true) {
                var akmes = info.edges.length;
                if (akmes !== 0) {
                    var y = 0; // dinei to id tis protis akmis pou tha diagrafei
                    for (var i = akmes - 1; i >= 0; --i) {
                        y = info.edges[i]
                        for (var j = data.edges.length - 1; j >= 0; --j) {
                            if (data.edges[j].id == y) {
                                data.edges.splice(j, 1);
                                break;
                            }
                        }
                    }
                }
                var x = info.nodes[0] // dinei to id tou komvou pou tha diagrafei
                //var y = data.nodes.filter(item => ((item.id === x)))  //dinei ta stoixeia tou komvou pou theloume na diagrapsoume
                for (var i = data.nodes.length - 1; i >= 0; --i) {
                    if (data.nodes[i].id == x) {
                        data.nodes.splice(i, 1);
                        break;
                    }
                }
            }
            else{
                info.nodes = 0
                info.edges = 0
            }
            callback(info);
          },
          deleteEdge: function (info, callback){
            var deletion_choice = confirm("Are you sure, you want to delete the edge?");
            if (deletion_choice == true) {
                var x = info.edges[0] // dinei to id tis akmis pou tha diagrafei
                //var y = data.nodes.filter(item => ((item.id === x)))  //dinei ta stoixeia tou komvou pou theloume na diagrapsoume
                for (var i = data.edges.length - 1; i >= 0; --i) {
                    if (data.edges[i].id == x) {
                        data.edges.splice(i, 1);
                        break;
                    }
                }
            }
            else{
                info.edges = 0
            }
            callback(info);
          }
        }
      };
{#      var data1 = String('{{ fcm.chartis }}').replace('&quot;', '"');  // pernao ta dedomena apo piso#}
{#     console.log('{{ fcm.chartis|safe }}');#}
     var data1 = {{ fcm.chartis|safe }};
{#     var data1 = JSON.parse('{{ fcm.chartis|safe}}'.replace('\\\\n', '\n'));#}
     data = data1;
{#     console.log(data1);#}
{#     console.log(String(JSON.stringify({{ fcm.chartis|safe }})).replace("\\n", "fasfdsaf"));#}
{#     console.log(Object.prototype.toString.call(String(JSON.stringify({{ fcm.chartis|safe }}))));#}
{#      let arxikos_chartis = JSON.parse(JSON.stringify(data)); //mono etsi den einai me reference#}
      //var arxikos_chartis = JSON.stringify(data);
{#      document.getElementById('id_arxikos_chartis').value= JSON.stringify(arxikos_chartis);#}
      // vgazo to fixed apo tous komvous gia na mporoun na allaksoun thesi
      for (var i = data1.nodes.length - 1; i >= 0; --i) {
            delete data1.nodes[i].fixed;
      }
      if (data1.nodes.length-1 < 0){
        numOfNodes = 0
      }
      else{
        numOfNodes = data1.nodes[data1.nodes.length-1].id;
      }
      if (data1.edges.length-1 < 0){
        numOfEdges = 0
      }
      else{
        numOfEdges = data1.edges[data1.edges.length-1].id;
      }
      network = new vis.Network(container, data1, options);  // dimiourgia tou network
      network.enableEditMode();
{#        network.on("click", function (ctx) {#}
{#            var dataURL = ctx.canvas.toDataURL();#}
{#            document.getElementById('canvasImg').src = dataURL;#}
{#        });#}
    }
    function editNodeEdit(info, cancelAction, callback) {
      if(info.label != undefined) {
          var concept_info = '';
          var color = '';
          var shape = '';
          $.each(network.body.data.nodes._data, function (idx, elem) {
              if (parseInt(elem.id) === parseInt(info.id)) {
                  concept_info = elem.concept_info;
                  color = elem.color;
                  shape = elem.shape;
              }
          });
      }

      CKEDITOR.instances['id_concept_info'].setData(concept_info);
      document.getElementById('node-shape').value = shape;
      document.getElementById('node-color').value = color;


      document.getElementById('node-label').value = info.label;
      document.getElementById('node-saveButton').onclick = saveNodeDataEdit.bind(this, info, callback);
      document.getElementById('node-cancelButton').onclick = cancelAction.bind(this, callback);
      document.getElementById('node-popUp').style.display = 'block';
    }

    function editNodeAdd(info, cancelAction, callback) {
      console.log(data);
      console.log(info.id);
      console.log(info.label);
      document.getElementById('node-label').value = info.label;
      document.getElementById('node-saveButton').onclick = saveNodeDataAdd.bind(this, info, callback);
      document.getElementById('node-cancelButton').onclick = cancelAction.bind(this, callback);
      document.getElementById('node-popUp').style.display = 'block';
    }
    // Callback passed as parameter is ignored
    function clearNodePopUp() {
      document.getElementById('node-saveButton').onclick = null;
      document.getElementById('node-cancelButton').onclick = null;
      document.getElementById('node-popUp').style.display = 'none';

      CKEDITOR.instances['id_concept_info'].setData("");
    }
    function cancelNodeEdit(callback) {
      clearNodePopUp();
      callback(null);
    }
    function saveNodeDataAdd(info, callback) {
      info.label = document.getElementById('node-label').value;
      numOfNodes++;
      info.id = numOfNodes;
      info.shape = document.getElementById('node-shape').value;

      info.color = document.getElementById('node-color').value;

      info.concept_info = CKEDITOR.instances['id_concept_info'].getData() ;

      data.nodes.push({
        id: info.id,
        label: info.label,
        color: info.color,
        x: info.x,
        y: info.y,
        concept_info: info.concept_info,
        shape: info.shape,
        fixed: true,
        font: {
            color:'white'
        }
      });
      clearNodePopUp();
      callback(info);
    }
    function saveNodeDataEdit(info, callback) {
      info.label = document.getElementById('node-label').value;

      info.color = document.getElementById('node-color').value;
      info.shape = document.getElementById('node-shape').value;

      info.concept_info = CKEDITOR.instances['id_concept_info'].getData() ;

      var x = data.nodes;
      var y = x.filter(item => ((parseInt(item.id) === parseInt(info.id)) ));
      y[0].label = info.label;
      y[0].color = info.color;
      y[0].shape = info.shape;
      y[0].concept_info = info.concept_info;
      <!--var x = network.body.nodes;-->
      <!--var x = network.body.data.nodes._data-->
      <!--var arr = []-->
      <!--for (var prop in x) {-->
        <!--arr.push(x[prop]);-->
      <!--}-->
      <!--var y = arr.filter(item => ((item.id === info.id) ))-->

      clearNodePopUp();
      callback(info);
    }
    function editEdgeWithoutDragAdd(data, callback) {
        // filling in the popup DOM elements
      if(data.label != undefined){
          var label = data.label.split("(weight:")[0].trim();
          var weight = data.label.split("(weight:")[1].split(")")[0];
          var relation_info = '';
          $.each(network.body.data.edges._data, function(idx, elem) {
            if (parseInt(elem.id) === parseInt(data.id)){
                relation_info = elem.relation_info;
            }
          });
          document.getElementById('edge-label').value = label;
          document.getElementById('edge-weight').value = parseFloat(weight);
          document.getElementById('edge-weight-label').innerHTML = weight;
          CKEDITOR.instances['id_edge_info'].setData(relation_info);
      }
      document.getElementById('edge-saveButton').onclick = saveEdgeDataAdd.bind(this, data, callback);
      document.getElementById('edge-cancelButton').onclick = cancelEdgeEdit.bind(this,callback);
      document.getElementById('edge-popUp').style.display = 'block';
    }
    function editEdgeWithoutDragEdit(data, callback) {
      // filling in the popup DOM elements
      if(data.label != undefined){
          var label = data.label.split("(weight:")[0].trim();
          var weight = data.label.split("(weight:")[1].split(")")[0];
          var relation_info = '';
          $.each(network.body.data.edges._data, function(idx, elem) {
            if (parseInt(elem.id) === parseInt(data.id)){
                relation_info = elem.relation_info;
            }
          });
          document.getElementById('edge-label').value = label;
          document.getElementById('edge-weight').value = parseFloat(weight);
          document.getElementById('edge-weight-label').innerHTML = weight;
          CKEDITOR.instances['id_edge_info'].setData(relation_info);
      }
      document.getElementById('edge-saveButton').onclick = saveEdgeDataEdit.bind(this, data, callback);
      document.getElementById('edge-cancelButton').onclick = cancelEdgeEdit.bind(this,callback);
      document.getElementById('edge-popUp').style.display = 'block';
    }
    function clearEdgePopUp() {
      document.getElementById('edge-saveButton').onclick = null;
      document.getElementById('edge-cancelButton').onclick = null;
      document.getElementById('edge-popUp').style.display = 'none';

      $("#edge-weight").val(0);
      $("#edge-label").val("");
      $("#edge-weight-label").html($('#edge-weight').val());
      CKEDITOR.instances['id_edge_info'].setData("");
    }
    function cancelEdgeEdit(callback) {
      clearEdgePopUp();
      callback(null);
    }
    function saveEdgeDataAdd(info, callback) {
      if (typeof info.to === 'object')
        info.to = info.to.id
      if (typeof info.from === 'object')
        info.from = info.from.id
      var weight = parseFloat(document.getElementById('edge-weight').value);
      var label = document.getElementById('edge-label').value.trim() + "\n(weight: " + document.getElementById('edge-weight').value+ ")";
      var relation_info = CKEDITOR.instances['id_edge_info'].getData() ;
      var color = "grey";
      if (weight !== 0) {
          if (weight > 0)
              color = "#86d286";
          else {
              color = "#ff8383";
              weight = weight * (-1)
          }
      }

      info.label = label;
      info.width = (weight * 10) + 1;
      info.relation_info = relation_info;
      info.color = { color: color };
      numOfEdges++;
      info.id = numOfEdges;
      data.edges.push({
        id: info.id,
        arrows:'to',
        label: info.label,
        from: info.from,
        to: info.to,
        label: label,
        width: (weight * 10) + 1,
        relation_info: relation_info,
        color: { color: color }

      });
      clearEdgePopUp();
      callback(info);
    }
    function saveEdgeDataEdit(info, callback) {
      if (typeof info.to === 'object')
        info.to = info.to.id;
      if (typeof info.from === 'object')
        info.from = info.from.id;
      var weight = parseFloat(document.getElementById('edge-weight').value);
      var label = document.getElementById('edge-label').value.trim() + "\n(weight: " + document.getElementById('edge-weight').value+ ")";
      var relation_info = CKEDITOR.instances['id_edge_info'].getData() ;
      var color = "grey";
      if (weight !== 0) {
          if (weight > 0)
              color = "#86d286";
          else {
              color = "#ff8383";
              weight = weight * (-1)
          }
      }

      info.label = label;
      info.width = (weight * 10) + 1;
      info.color = { color: color };
      info.relation_info = relation_info;

      var x = data.edges;
      var y = x.filter(item => ((parseInt(item.id) === parseInt(info.id)) ))
      y[0].label = info.label;
      y[0].width = (weight * 10) + 1;
      y[0].color = { color: color };
      y[0].relation_info = relation_info;
      clearEdgePopUp();
      callback(info);
    }
    function init() {
      setDefaultLocale();
      draw();
    }
    var lastdata = "blabla";
    function kaneStringToData(){
      for (var i = data.nodes.length - 1; i >= 0; --i) {  //vazo ksana to fixed stous komvous gia na einai stathero sto view
            data.nodes[i].fixed = true;
      }
      for (var i = data.nodes.length - 1; i >= 0; --i) {
            data.nodes[i].x = network.canvas.body.nodes[data.nodes[i].id].x;
            data.nodes[i].y = network.canvas.body.nodes[data.nodes[i].id].y;
      }
      lastdata = JSON.stringify(data);   // metatrepei se string to data
      console.log('lastdata');
      console.log(lastdata);
      document.getElementById('id_chartis').value = lastdata;
      var canvas = document.getElementsByTagName('canvas');
      var dataURL = canvas[0].toDataURL();
      $('#id_image').val(dataURL);
{#      console.log(lastdata);#}
{#      console.log(dataURL);#}
      //document.getElementById('timi_pou_thelo').value = lastdata;
      //document.getElementById('id_description').value = lastdata;
    }

    window.onload = init;  //Na mpei kai sta upoloipa

  </script>

<!--<body onload="init(); ">-->
<div class="container text-center create-fcm-container">
    <div class="col-sm-offset-1 col-sm-10 edit-fcm-container">
        <h1 class="col-sm-12" style="text-align: center">Edit the {{ fcm.title }}{% if fcm.original is not None %}, updated by: {{ fcm.user.username }} {% endif %}</h1>
    </div>
    <br>

    <div class="col-sm-12">
        <div class="col-sm-6 col-sm-offset-3">
            <a id="publish-link-btn" href="#publish_form" class="btn btn-default" style="background-color: #327666;">Save Changes</a>
            <a id="cancel-link-btn" href="/fcm/browse" class="btn btn-default">Cancel</a>
        </div>
{#        <div class="col-sm-2">#}
{#            <a  class="btn btn-default" style="text-transform: inherit; background-color: #54608a" href="{% url 'fcm_app:view_fcm_concept' fcm_id=fcm.id %}">Edit Concepts and Relations</a>#}
{#        </div>#}
    </div>
    <!--<h1>Create a new...</h1>-->

    <!--<div class="panel panel-default">-->
        <!--<div class="panel-body">-->
            <!--In the editor below you can create your own causal model or edit and save under another name an existing one. <br/>-->
            <!--The model consists of nodes representing concepts (“income”, “unemployment”, etc.) and cause-effect relationships between them.-->
        <!--</div>-->
    <!--</div>-->

    <!--<a id="publish-link-btn" href="#publish_form" class="btn btn-default">Publish</a>-->

    <p style="display: none;">
      <label for="locale">Select a locale:</label>
      <select id="locale" onchange="draw();">
        <option value="en">en</option>
      </select>
    </p>


    <div id="node-popUp">
      <span id="node-operation">node</span> <br>
        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
          <li class="active"><a data-toggle="tab" href="#node_label_tab">Properties</a></li>
          <li><a data-toggle="tab" href="#node_info_tab">More info</a></li>
        </ul>
        <div class="tab-content" >
            <div id="node_label_tab" class="tab-pane fade in active">
                <table style="margin: 0;width: 100%;">
                    <tr hidden>
                      <td>id</td><td><input id="node-id" value="la"/></td>
                    </tr>
                    <tr>
                        <td>Label</td><td><textarea cols="40" rows="5" id="node-label" value="la" ></textarea></td>
                    </tr>
                    <tr>
                      <td>Color</td>
                        <td>
                            <select id="node-color" style="width: 100%">
                                <option value="#6c6c6c" selected>Grey</option>
                                <option value="#8d2b2b" >Red</option>
                                <option value="#327666" >Green</option>
                                <option value="#34477b" >Blue</option>
                                <option value="#684126" >Brown</option>
                            </select>
                        </td>
                    </tr>
                      <tr>
                           <td>Shape</td>
                          <td>
                              <select id="node-shape" style="width: 100%">
                                <option value="box" selected>Box</option>
                                <option value="ellipse" >Ellipse</option>
                            </select>
                          </td>
                      </tr>
            {#        <tr>#}
            {#            <td>Width</td><td  class="slidecontainer"><span id="demo"></span><input type="range" min="1" max="100" value="50" class="slider" id="myRange"></td>#}
            {#        </tr>#}
                    <!--tr>
                      <td>title</td><td><input id="node-title" value="" /></td>
                    </tr-->
                  </table>
            </div>
            <div id="node_info_tab" class="tab-pane fade">
              <div style="margin-top: 30px;" id="concept_info_div">
                  {{ concept_info_form.media }}
                  {{ concept_info_form.as_p }}
              </div>
            </div>
        </div>

      <input type="button" value="save" id="node-saveButton" />
      <input type="button" value="cancel" id="node-cancelButton" />
    </div>

    <div id="edge-popUp">
      <span id="edge-operation">edge</span> <br>
        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
          <li class="active"><a data-toggle="tab" href="#edge_label_tab">Properties</a></li>
          <li><a data-toggle="tab" href="#edge_info_tab">More info</a></li>
        </ul>
        <div class="tab-content">
            <div id="edge_label_tab" class="tab-pane fade in active">
                <table style="margin: 0;width: 100%;">
                    <tr>
                      <td style="width: 100px;">weight</td><td><input id="edge-weight" type="range" min="-1" max="1" step="0.1" value="0" class="slider" oninput="updateWeightLabel();"/></td>
                    </tr>
                    <tr>
                        <td style="width: 100px;"></td><td><div id="edge-weight-label">0</div></td>
                    </tr>
                    <tr>
                      <td style="width: 100px;">label</td><td><textarea cols="40" rows="4" id="edge-label"value=""></textarea></td>
                    </tr>
                </table>
            </div>
            <div id="edge_info_tab" class="tab-pane fade">
                <div id="relation_info_div">
                      {{ relation_info_form.media }}
                      {{ relation_info_form.as_p }}
                 </div>
            </div>
      </div>
      <input type="button" value="save" id="edge-saveButton" />
      <input type="button" value="cancel" id="edge-cancelButton" />
    </div>
    <!--div>
    <form class="form-horizontal" action="{% url 'fcm_app:create_map' %}" method="post" enctype="multipart/form-data">
    {#  {% csrf_token %}#}
      <div>
        <input id="search" name="search" type="text" class="query-search" placeholder="Search...">
        <button type="submit" onclick="kaneStringToData()">Save</button>
        <input class="btn btn-primary" type="submit" value="submit">

      </div>
    </form>
    </div-->

    <br/>
    <div class="col-sm-offset-1 col-sm-10 panel panel-default" style="padding: 0; margin-top: 0;">
        <div id="mynetwork"></div>
    </div>
</div>
<br/>


{#    <div class="col-sm-offset-1 col-sm-10 panel panel-default" id="publish_form">#}
{#        <div class="panel-body">#}
{#            <form method="post">#}
{#                {% csrf_token %}#}
{#                {{ form }}#}
{#                <!--<div id="arxikos_chartis" name="arxikos_chartis" style="display: none;" value="blabla"></div>-->#}
{#                <input type="submit" value="Save" onclick="kaneStringToData()" class="btn btn-success">#}
{#            </form>#}
{#        </div>#}
{#    </div>#}

    <div class="col-sm-offset-1 col-sm-10 fcm-import-card" id="publish_form">
        <div class="card">
            <div class="card-header card-header-text" data-background-color="rose">
                <h4 class="card-title">Edit the System Map</h4>
            </div>
            <div class="card-content">
                <form class="form-horizontal" action="/fcm/edit-fcm/{{ fcm.id }}/" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="row" {% if field.label == 'Chartis' or field.label == 'Image'  %} style="display: none;"{% endif %}>
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="form-group is-empty">
                                    {% if field.label != 'Chartis' and field.label != 'Image'  %}
                                        <label>{{ field.label }}</label>
                                     {% endif %}
                                    {{ field }}
                                </div>
                            </div>
                         </div>
                    {% endfor %}
                    <div id = "timi_pou_thelo" name = "timi_pou_thelo"  value ="fdf" ></div>
                    <div class="row">
                         <div class="col-sm-offset-1 col-sm-8" style="padding: 0;">
                             <input type="submit" class="btn btn-success btn-rose" onclick="kaneStringToData()" value="Save" ><div class="ripple-container"></div></input>
                         </div>
                    </div>

                </form>
            </div>
        </div>
    </div>





    <div class="col-sm-2 col-sm-offset-9">
        <btn id="delete-fcm" class="btn btn-danger" style="float: right;">Delete</btn>
    </div>

    <div style="display: none;">
        <div id="dialog" style="text-align: center">
            <p>Are you sure you want to delete the System Map?</p>
            <btn id="cancel-delete" class="btn btn-default">Cancel</btn>
            <a id="confirm-delete" class="btn btn-danger" href="{% url 'fcm_app:delete_fcm' fcm_id=fcm.id %}"> Delete </a>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script>
        $(document).ready(function () {
             $('#id_tags').select2({
                tags:true,
                tokenSeparators: [',', ' ']
            });
            $('#id_country').select2();

            {% for tag_element in tags %}
                $("#id_tags").append("<option value=\"{{ tag_element }}\" selected>{{ tag_element }}</option>");
            {% endfor %}
        });



        $(document).ready(function () {
             $('#edge-weight').change(function () {
                 updateWeightLabel();
             });
        });


        function updateWeightLabel() {
            $("#edge-weight-label").html($('#edge-weight').val());
        }



        $("#delete-fcm").click(function () {
           $( "#dialog" ).dialog();
        });

        $("#cancel-delete").click(function () {
            $(this).closest('.ui-dialog-content').dialog('close');
        });

    </script>


{% endblock %}