{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'fcm_app/css/import_fcm.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="col-sm-8 col-sm-offset-2 alert alert-dismissible alert-danger">
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="col-sm-8 col-sm-offset-2 alert alert-dismissible alert-success">
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}

    {% endif %}

    <div class="col-sm-offset-1 col-sm-10 fcm-import-card">
        <div class="card">
            <form class="form-horizontal" action="{% url 'fcm_app:import_map' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-header card-header-text" data-background-color="rose">
                    <h5 class="card-title">Import a new System Map, using files created by the MATISE application for MATLAB<small style="color: white;"></small></h5>
                </div>
                <div class="card-content">
                    {% for field in form %}
                        <div class="row">
                            {% if field.label != 'Image' and field.label != 'HTML' %}
                                <div class="col-sm-offset-1 col-sm-10">
                                    <div class="form-group is-empty">
                                         <label>{{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-sm-offset-1 col-sm-10" id="img-html">
                                    <div class="form-file-group">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                 </div>
                            {% endif %}

                         </div>
                    {% endfor %}
                </div>
                 <div class="row">
                     <div class="col-sm-offset-1 col-sm-8">
                            <button type="submit" class="btn btn-success btn-rose">Submit<div class="ripple-container"></div></button>
                     </div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}

{% block js %}

    <script>
        $(document).ready(function () {
             $('#id_tags').select2({
                tags:true,
                tokenSeparators: [',', ' ']
            });
            $('#id_country').select2();
        })
    </script>


{% endblock %}