{% extends 'base.html' %}

{% load static %}

{% block css %}
{#    <link href="{% static 'fcm_app/css/css_name.css' %}" rel="stylesheet" />#}
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>Welcome to TransRisk App for..?</h1>
        <p>
            Lorem ipsum dolor sit amet, eu cum posse appellantur mediocritatem, nam ignota bonorum id, mel in consequat theophrastus. Ad maiorum mediocrem persequeris sit. Per ex vivendo oporteat deseruisse, cu malis graeci graecis pri. Vis etiam homero ne, vis ex tempor salutatus consequuntur. Ex unum patrioque eum, in has nisl nonumy pericula. Ne has rebum mentitum, nostrud deleniti nominati ea vim.

            Sale dictas scripta cu nec, ut per saepe necessitatibus, cu vis suas vero. Ex partem alienum his. Melius nostrud conclusionemque ea eum. Wisi epicuri omittam eum ne, usu vidit erant id. Cum ad mundi invidunt mediocrem, dicat aliquam ullamcorper sed ea, ea nam doctus referrentur.

            Vis ad veniam legere putent, vim animal omittam no, veri convenire an est. At congue dissentiunt vim, sit eu graeci copiosae urbanitas, vix bonorum concludaturque ut. Ex probo veritus verterem per, harum tollit noluisse cum ex. Quo no agam democritum, mei te posse debitis voluptatibus. Ignota offendit id eum.

        </p>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'fcm_app/js/js_name.js' %}"></script>
{% endblock %}
