{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'fcm_app/css/view_fcm.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="col-sm-12 panel panel-default" style="padding: 0; margin-top: 0;">
        <div class="panel-body">
            <h1>{{ fcm.title}}</h1>
            <div id="creation"> Created at: {{ fcm.creation_date|date:"d M Y" }}</div>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Description</button>
            {% if fcm.user == request.user %}
                <button type="button" class="btn btn-default" ><a href="{% url 'fcm_app:edit_fcm' fcm_id=fcm.id %}" class="button">Edit</a></button>
            {% endif %}
            <div id="demo" class="collapse">
                {{ fcm.description }}
            </div>
        </div>
    </div>

    <div class="col-sm-12 panel panel-default" style="padding: 0; margin-top: 0;">
        <div id = 'map-panel' class="panel-body" style="margin: 0; padding: 0">
            {% autoescape off %}
                {{ map_body }}
            {% endautoescape %}
        </div>
    </div>

    {% for key,value in info_dict.items %}
        <div class="popover" id="popover-{{ key }}">
            <row>
                <button type="button" onclick='$(this).closest(".popover").hide()' style="border: none; float: right;">&times</button>
            </row>
            <div style="max-width: none; padding: 20px 10px;">
                {% autoescape off %}
                    {{ value }}
                {% endautoescape %}
            </div>
        </div>
    {% endfor %}


{% endblock %}

{% block js %}
    <!-- Map area highlight plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>
{#    {% autoescape off %}#}
{#        {{ script }}#}
{#    {% endautoescape %}#}
    <script type="text/javascript">
        function showTooltip2(e, id) {
            var offset = $(this).offset();
            var scroll = $('.main-panel').scrollTop();
            var left = e.pageX;
            var top = e.pageY;
            var theHeight = $('#popover-'+id).height();
            var theWidth = $('#popover-'+id).width();
            $('.popover').hide();
            $('#popover-'+id).show();
            $('#popover-'+id).css('left', (left-theWidth/2) + 'px');
            $('#popover-'+id).css('top', (scroll+top-(theHeight)-10) + 'px');
            var pWidth = $(this).innerWidth();
            var pHeight= $(this).innerHeight();
            var status_orizontia = 1; //1 means left, 2 means right
            var status_katheta = 1;  //1 means up, 2 means down
            if (pWidth/2 < left){
                status_katheta = 2;
            }
            if (pHeight/2 < top){
                status_orizontia = 2;
            }
            if (status_orizontia == 1 &&  status_katheta == 1){
                $('#popover-'+id).css('left', (left) + 'px');
                $('#popover-'+id).css('top', (scroll+top+10) + 'px');
            }
            else if (status_orizontia == 1 &&  status_katheta == 2) {
                $('#popover-'+id).css('left', (left-theWidth) + 'px');
                $('#popover-'+id).css('top', (scroll+top+10) + 'px');
            }

            else if (status_orizontia == 2 &&  status_katheta == 1) {
                $('#popover-'+id).css('left', (left) + 'px');
                $('#popover-'+id).css('top', (scroll+top-(theHeight)-10) + 'px');
            }

            else if (status_orizontia == 2 &&  status_katheta == 2) {
                $('#popover-'+id).css('left', (left-theWidth) + 'px');
                $('#popover-'+id).css('top', (scroll+top-(theHeight)-10) + 'px');
            }
        }

{#        $('area').click(function (e) { //Relative ( to its parent) mouse position#}
{#            var id = $(this).get('id');#}
{#            alert(id);#}
{#            var offset = $(this).offset();#}
{#            var left = e.pageX;#}
{#            var top = e.pageY;#}
{#            var theHeight = $('#popover-'+id).height();#}
{#            $('#popover-'+id).show();#}
{#            $('#popover-'+id).css('left', (left+10) + 'px');#}
{#            $('#popover-'+id).css('top', (top-(theHeight/2)-10) + 'px');#}
{#        });#}

    </script>

    <script>
{#        $('map').click(function (e) {#}
{#            var offset = $(this).offset();#}
{#            var left = e.pageX;#}
{#            var top = e.pageY;#}
{#            var theHeight = $('.popover').height();#}
{#            $('.popover').show();#}
{#            $('.popover').css('left', (left+10) + 'px');#}
{#            $('.popover').css('top', (top-(theHeight/2)-10) + 'px');#}
{#        });#}

{#        $(document).ready(function(){#}
{#            $('[data-toggle="popover"]').popover();#}
{#        });#}
    </script>

    <script type="text/javascript">
        $(function() {
            $('.yimage').maphilight();
{#            $('#squidheadlink').mouseover(function(e) {#}
{#                $('#squidhead').mouseover();#}
{#            }).mouseout(function(e) {#}
{#                $('#squidhead').mouseout();#}
{#            }).click(function(e) { e.preventDefault(); });#}
        });
    </script>





{% endblock %}