{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'fcm_app/css/view_fcm.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="col-sm-offset-1 col-sm-10 panel panel-default" style="padding: 0; margin-top: 0;">
        <div class="panel-body">
            <h1>{{ fcm.title}}</h1>
            <div id="creation"> Created at: {{ fcm.creation_date|date:"d M Y" }}</div>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Description</button>
            {% if fcm.user == request.user %}
                <button type="button" class="btn btn-default" ><a href="{% url 'fcm_app:edit_fcm' fcm_id=fcm.id %}" class="button">Edit</a></button>
            {% endif %}
            <div id="demo" class="collapse">
                {{ fcm.description }}
            </div>
        </div>
    </div>

    <div class="col-sm-offset-1 col-sm-10 panel panel-default" style="padding: 0; margin-top: 0;">
        <div class="panel-body" style="margin: 0; padding: 0">
            {% autoescape off %}
                {{ map_body }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {% autoescape off %}
        {{ script }}
    {% endautoescape %}

{% endblock %}