{% extends 'base.html' %}

{% load static %}

{% block css %}
    <style>
        label{
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="col-sm-8 col-sm-offset-2 alert alert-danger">
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>
            {% else %}
                <div class="col-sm-8 col-sm-offset-2 alert alert-success">
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>
            {% endif %}
        {% endfor %}

    {% endif %}

    <br/><br/>

    <div class="col-sm-12 text-center concept-info-container">
        <h1>
            Edit the information for the Relation:
            <br>
            <p title='
                    {% if  relation.text is None%}
                        from: "{{ relation.from_concept.title }}" to: "{{ relation.to_concept.title }}"
                    {% else %}
                        {{ relation.text }}
                    {% endif %}'
                style="font-size: 17pt; max-width: 100%; width: 100%; text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">

                {% if  relation.text is None%}
                    from: "{{ relation.from_concept.title }}" <br>
                    to: "{{ relation.to_concept.title }}"
                {% else %}
                    {{ relation.text }}
                {% endif %}
            </p>
        </h1>
        <form method="post">
            {% csrf_token %}
{#            <textarea class="row" cols="112" rows="5" id="information_text" name="information_text" ></textarea>#}
            {{ form.media }}
            {{ form.as_p }}
            <input class="btn btn-success" type='submit' value='Save' />
            <btn class="btn btn-default"><a href="{% url 'fcm_app:view_fcm_concept' fcm_id=relation.fcm.id  %}">Back</a></btn>
        </form>

    </div>



{% endblock %}