{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'fcm_app/css/view_fcm.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="col-sm-12 panel panel-default" style="padding: 0; margin-top: 0;">
        <div class="panel-body">
            <h1>{{ fcm.title}}</h1>
            <div id="creation"> Created at: {{ fcm.creation_date|date:"d M Y" }}</div>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Description</button>
            {% if fcm.user == request.user %}
                <a href="{% url 'fcm_app:edit_fcm' fcm_id=fcm.id %}" class="button btn btn-default"  style="background-color: #948a7c; width: 60px;">Edit</a>
            {% endif %}
            <div id="demo" class="collapse">
                {{ fcm.description }}
            </div>
        </div>
    </div>

    <div class="container">

        <div class="wrapper1 linked" style=" width: 98.9% ;height: 20px; overflow-x: scroll; overflow-y: hidden">
            <div class="div1">
                 {% autoescape off %}
                    {{ map_body }}
                {% endautoescape %}
            </div>
        </div>
        <div class="wrapper2 ">

            <div id = 'map-panel' class="div2 linked" style="overflow: scroll; height: 1000px">
                {% autoescape off %}
                    {{ map_body }}
                {% endautoescape %}
            </div>
        </div>


        {% for key,value in info_dict.items %}
            <div class="popover" id="popover-{{ key }}">
                <row>
                    <button type="button" onclick='$(this).closest(".popover").hide()' style="border: none; float: right;">&times</button>
                </row>
                <div style="max-width: none; padding: 20px 10px;">
                    {% autoescape off %}
                        {{ value }}
                    {% endautoescape %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block js %}
    <!-- Map area highlight plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.3.1/jquery.maphilight.min.js"></script>
{#    {% autoescape off %}#}
{#        {{ script }}#}
{#    {% endautoescape %}#}
    <script>
        $(document).click(function(event) {
            if(!$(event.target).closest('area').length) {
                    $('.popover').hide();
            }
        });

    </script>
    <script type="text/javascript">
        function showTooltip2(e, id) {
            var offset = $(this).offset();
            var scroll = $('.main-panel').scrollTop();
            var left = e.pageX;
            var top = e.pageY;
            var theHeight = $('#popover-'+id).height();
            var theWidth = $('#popover-'+id).width();
            $('.popover').hide();
            $('#popover-'+id).show();
            $('#popover-'+id).css('left', (left-theWidth/2) + 'px');
            $('#popover-'+id).css('top', (scroll+top-(theHeight)-10) + 'px');
            var pWidth = $(this).innerWidth();
            var pHeight= $(this).innerHeight();
            var status_orizontia = 1; //1 means left, 2 means right
            var status_katheta = 1;  //1 means up, 2 means down
            if (pWidth/2 < left){
                status_katheta = 2;
            }
            if (pHeight/2 < top){
                status_orizontia = 2;
            }
            if (status_orizontia == 1 &&  status_katheta == 1){
                $('#popover-'+id).css('left', (left) + 'px');
                $('#popover-'+id).css('top', (scroll+top+10) + 'px');
            }
            else if (status_orizontia == 1 &&  status_katheta == 2) {
                $('#popover-'+id).css('left', (left-theWidth) + 'px');
                $('#popover-'+id).css('top', (scroll+top+10) + 'px');
            }

            else if (status_orizontia == 2 &&  status_katheta == 1) {
                $('#popover-'+id).css('left', (left) + 'px');
                $('#popover-'+id).css('top', (scroll+top-(theHeight)-10) + 'px');
            }

            else if (status_orizontia == 2 &&  status_katheta == 2) {
                $('#popover-'+id).css('left', (left-theWidth) + 'px');
                $('#popover-'+id).css('top', (scroll+top-(theHeight)-10) + 'px');
            }
        }



    </script>


    <script type="text/javascript">
        $(function() {
            $('.yimage').maphilight();
        });
    </script>


    <script>
        $(".tooltip").css("display","none");
        $(function(){
            $('.linked').scroll(function(){
                $('.linked').scrollLeft($(this).scrollLeft());})
        })
    </script>




{% endblock %}