{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'fcm_app/css/view_fcm.css' %}" rel="stylesheet" />
    <style type="text/css">
        /*
        body, select {
            font: 10pt sans;
        }
        */
        .myClass .inner_info{
{#            min-height: 200px;#}
        }

        .ui-widget-header {
            background-color: #00bcd4;
            box-shadow: none;
            color: black;
        }

        .ui-widget-header {
            border: none;
            background-color: white!important;
        }
        .ui-dialog .ui-dialog-titlebar-close {
            background-color: #f0fff200;
            border: none;
        }

        #mynetwork {
          position:relative;
          width: auto;
          height: 600px;
          border: 1px solid lightgray;
          clear:both;
        }
        table.legend_table {
          font-size: 11px;
          border-width:1px;
          border-color:#d3d3d3;
          border-style:solid;
        }
        table.legend_table,td {
          border-width:1px;
          border-color:#d3d3d3;
          border-style:solid;
          padding: 2px;
        }
        div.table_content {
          width:80px;
          text-align:center;
        }
        div.table_description {
          width:100px;
        }
        #operation {
          font-size:28px;
        }
        #node-popUp {
          display:none;
          position:absolute;
          top:350px;
          left:170px;
          z-index:299;
          width:250px;
          height:120px;
          background-color: #f9f9f9;
          border-style:solid;
          border-width:3px;
          border-color: #5394ed;
          padding:10px;
          text-align: center;
        }
        #edge-popUp {
          display:none;
          position:absolute;
          top:350px;
          left:170px;
          z-index:299;
          width:250px;
          height:90px;
          background-color: #f9f9f9;
          border-style:solid;
          border-width:3px;
          border-color: #5394ed;
          padding:10px;
          text-align: center;
        }
    </style>

{% endblock %}

{% block content %}

    <script type="text/javascript" src="http://visjs.org/examples/network/exampleUtil.js"></script>
	<script type="text/javascript" src="http://visjs.org/dist/vis.js"></script>
    <link href="http://visjs.org/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <script>
        $(document).click(function(event) {
            if(!$(event.target).closest('canvas').length) {
                    $('.popover').hide();
            }
        });

    </script>

    <script type="text/javascript">
        var numOfNodes = 1;
        var numOfEdges = 1;
        var nodes = null;
        var edges = null;
        var network = null;
        // randomly create some nodes and edges
        var data = getScaleFreeNetwork(0);
        console.log(data);
        var seed = 2;
        function setDefaultLocale() {
          var defaultLocal = navigator.language;
          var select = document.getElementById('locale');
          select.selectedIndex = 0; // set fallback value
          for (var i = 0, j = select.options.length; i < j; ++i) {
            if (select.options[i].getAttribute('value') === defaultLocal) {
              select.selectedIndex = i;
              break;
            }
          }
        }
        function destroy() {
          if (network !== null) {
            network.destroy();
            network = null;
          }
        }
        var grafos;
        function draw() {
          destroy();
          nodes = [];
          edges = [];
          // create a network
          var container = document.getElementById('mynetwork');
          var options = {
            //interaction:{
            //  tooltipDelay: 3600000      // Set a really big delay - one hour
            //},
            interaction:{hover:false},
            //	manipulation: {
            //		enabled: true
            //	},
            physics: {
              enabled: false
            },
            <!--fixed: true,-->
            nodes: {
                shape: 'box',
                margin: 10,
                widthConstraint: {
                    maximum: 400,
                    minimum: 150
                },
                color: {
                  border: '#dedede',
                  background: '#dedede'
                },
                font: {
                   color:'white'
                },
            },
            layout: {randomSeed:seed}, // just to make sure the layout is the same when the locale is changed
            locale: document.getElementById('locale').value,
            manipulation: {
              enabled:false, //eksafanizei ti mpara
              addNode: function (data, callback) {
                console.log(data);
                // filling in the popup DOM elements
                document.getElementById('node-operation').innerHTML = "Add Node";
                editNodeAdd(data, clearNodePopUp, callback);
              },
              editNode: function (data, callback) {
                // filling in the popup DOM elements
                document.getElementById('node-operation').innerHTML = "Edit Node";
                editNodeEdit(data, cancelNodeEdit, callback);
              },
              addEdge: function (data, callback) {
                if (data.from == data.to) {
                  var r = confirm("Do you want to connect the node to itself?");
                  if (r != true) {
                    callback(null);
                    return;
                  }
                }
                document.getElementById('edge-operation').innerHTML = "Add Edge";
                editEdgeWithoutDragAdd(data, callback);
              },
              editEdge: {
                editWithoutDrag: function(data, callback) {
                  document.getElementById('edge-operation').innerHTML = "Edit Edge";
                  editEdgeWithoutDragEdit(data,callback);
                }
              },
              deleteNode: function (info, callback){
                console.log("diagrafike komvos");
                var akmes = info.edges.length;
                if ( akmes!==0){
                  var y =0; // dinei to id tis protis akmis pou tha diagrafei
                  for (var i = akmes - 1; i >= 0; --i) {
                    y = info.edges[i]
                    for (var i = data.edges.length - 1; i >= 0; --i) {
                    if (data.edges[i].id == y) {
                      console.log(i);
                      data.edges.splice(i,1);
                      break;
                    }
                  }
                }
                }
                var x = info.nodes[0] // dinei to id tou komvou pou tha diagrafei
                //var y = data.nodes.filter(item => ((item.id === x)))  //dinei ta stoixeia tou komvou pou theloume na diagrapsoume
                for (var i = data.nodes.length - 1; i >= 0; --i) {
                  if (data.nodes[i].id == x) {
                    console.log(i);
                    data.nodes.splice(i,1);
                    break;
                  }
                }
                console.log(data);
                callback(info);
              },
              deleteEdge: function (info, callback){
                console.log("diagrafike akmi");
                var x = info.edges[0] // dinei to id tis akmis pou tha diagrafei
                //var y = data.nodes.filter(item => ((item.id === x)))  //dinei ta stoixeia tou komvou pou theloume na diagrapsoume
                for (var i = data.edges.length - 1; i >= 0; --i) {
                  if (data.edges[i].id == x) {
                    console.log(i);
                    data.edges.splice(i,1);
                    break;
                  }
                }
                console.log(data);
                callback(info);
              }
            }
          };

          var data1 = {{ fcm.chartis|safe }};  // pernao ta dedomena apo piso
          grafos = data1;
          //data = data1;
          //console.log(data1)
          //var data1 = "{{data1}}".replace(/&quot;/g,"\"");
          network = new vis.Network(container, data1, options);  // dimiourgia tou network

      network.on("click", function (params) {
        console.log(params.pointer.DOM)
      });

          network.on("deselectNode", function () {
              $('.popover').hide();
          });
          network.on("deselectEdge", function () {
              $('.popover').hide();
          });


          var clickedNode=false;

          network.on("selectNode", function (params) {
              clickedNode=true;
            console.log('selectNode');
            console.log(params);
            var nodeID = params.nodes[0];  // to id tou komvou pou patithike
            //--nodeID
            console.log(nodeID);
            <!--showTooltip2(params, nodeID);-->
            var content = document.getElementById('popover-'+nodeID).innerHTML;
            var properties = params;
            title = grafos.nodes.filter(item => ((item.id === nodeID) ))[0].label; //vrisko poios komvos exei auto ti id kai vazo ston titlo to label
{#          showJQueryDialog(properties, nodes, title);#}
              showTooltip2(event,nodeID);

              window.setTimeout(function(){clickedNode=false;}, 100);
            });

          network.on("selectEdge", function (params) {
              if(!clickedNode) {
                  console.log('selectEdge');
                  console.log(params);
                  var edgeID = params.edges[0];  // to id tou edge pou patithike
                  console.log(edgeID);
                  showTooltip3(event, edgeID);
              }
          });
          <!--network.on("deselectNode", function (params) {-->
            <!--console.log(params);-->
            <!--$('.popover').hide();-->
          <!--});-->


        }


        function editNodeEdit(info, cancelAction, callback) {
          console.log(data);
          console.log(info.id);
          console.log(info.label);
          document.getElementById('node-label').value = info.label;
          document.getElementById('node-saveButton').onclick = saveNodeDataEdit.bind(this, info, callback);
          document.getElementById('node-cancelButton').onclick = cancelAction.bind(this, callback);
          document.getElementById('node-popUp').style.display = 'block';
        }

        function editNodeAdd(info, cancelAction, callback) {
          console.log(data);
          console.log(info.id);
          console.log(info.label);
          document.getElementById('node-label').value = info.label;
          document.getElementById('node-saveButton').onclick = saveNodeDataAdd.bind(this, info, callback);
          document.getElementById('node-cancelButton').onclick = cancelAction.bind(this, callback);
          document.getElementById('node-popUp').style.display = 'block';
        }
        // Callback passed as parameter is ignored
        function clearNodePopUp() {
          document.getElementById('node-saveButton').onclick = null;
          document.getElementById('node-cancelButton').onclick = null;
          document.getElementById('node-popUp').style.display = 'none';
        }
        function cancelNodeEdit(callback) {
          clearNodePopUp();
          callback(null);
        }
        function saveNodeDataAdd(info, callback) {
          info.label = document.getElementById('node-label').value;
          numOfNodes++;
          info.id = numOfNodes;
          info.shape = 'box';
          //info.title = document.getElementById('node-title').value;
          data.nodes.push({
            id: info.id,
            label: info.label,
            x: info.x,
            y: info.y,
            shape: 'box',
            fixed: true
          });
          clearNodePopUp();
          callback(info);
        }
        function saveNodeDataEdit(info, callback) {
          info.label = document.getElementById('node-label').value;
          var x = data.nodes;
          var y = x.filter(item => ((item.id === info.id) ))
          y[0].label = info.label
          clearNodePopUp();
          callback(info);
        }
        function editEdgeWithoutDragAdd(data, callback) {
          // filling in the popup DOM elements
          document.getElementById('edge-label').value = data.label;
          document.getElementById('edge-saveButton').onclick = saveEdgeDataAdd.bind(this, data, callback);
          document.getElementById('edge-cancelButton').onclick = cancelEdgeEdit.bind(this,callback);
          document.getElementById('edge-popUp').style.display = 'block';
        }
        function editEdgeWithoutDragEdit(data, callback) {
          // filling in the popup DOM elements
          document.getElementById('edge-label').value = data.label;
          document.getElementById('edge-saveButton').onclick = saveEdgeDataEdit.bind(this, data, callback);
          document.getElementById('edge-cancelButton').onclick = cancelEdgeEdit.bind(this,callback);
          document.getElementById('edge-popUp').style.display = 'block';
        }
        function clearEdgePopUp() {
          document.getElementById('edge-saveButton').onclick = null;
          document.getElementById('edge-cancelButton').onclick = null;
          document.getElementById('edge-popUp').style.display = 'none';
        }
        function cancelEdgeEdit(callback) {
          clearEdgePopUp();
          callback(null);
        }
        function saveEdgeDataAdd(info, callback) {
          if (typeof info.to === 'object')
            info.to = info.to.id
          if (typeof info.from === 'object')
            info.from = info.from.id
          info.label = document.getElementById('edge-label').value;
          numOfEdges++;
          info.id = numOfEdges;
          data.edges.push({
            id: info.id,
            label: info.label,
            from: info.from,
            to: info.to
          });
          clearEdgePopUp();
          callback(info);
        }
        function saveEdgeDataEdit(info, callback) {
          if (typeof info.to === 'object')
            info.to = info.to.id
          if (typeof info.from === 'object')
            info.from = info.from.id
          info.label = document.getElementById('edge-label').value;
          var x = data.edges;
          var y = x.filter(item => ((item.id === info.id) ))
          y[0].label = info.label
          clearEdgePopUp();
          callback(info);
        }
        function init() {
          setDefaultLocale();
          draw();
        }
        var lastdata = "blabla"
        function kaneStringToData(){
          lastdata = JSON.stringify(data);   // metatrepei se string to data
          document.getElementById('id_chartis').value = lastdata;
          console.log(lastdata);
          //console.log(lastdata);
          //document.getElementById('timi_pou_thelo').value = lastdata;
          //document.getElementById('id_description').value = lastdata;
        }

      window.onload = init;
    </script>
    <script type="text/javascript">
        function showTooltip2(e, id) {
            var offset = $(this).offset();
            var scroll = $('.main-panel').scrollTop();
            var left = e.pageX;
            var top = e.pageY;
            var theHeight = $('#popover-'+id).height();
            var theWidth = $('#popover-'+id).width();
            $('.popover').hide();
            $('#popover-'+id).show();
            $('#popover-'+id).css('left', (left-theWidth/2) + 'px');
            $('#popover-'+id).css('top', (scroll+top-(theHeight)-10) + 'px');
            var pWidth = $(this).innerWidth();
            var pHeight= $(this).innerHeight();
            var status_orizontia = 1; //1 means left, 2 means right
            var status_katheta = 1;  //1 means up, 2 means down
            if (pWidth/2 < left){
                status_katheta = 2;
            }
            if (pHeight/2 < top){
                status_orizontia = 2;
            }
            if (status_orizontia == 1 &&  status_katheta == 1){
                $('#popover-'+id).css('left', (left) + 'px');
                $('#popover-'+id).css('top', (scroll+top+10) + 'px');
            }
            else if (status_orizontia == 1 &&  status_katheta == 2) {
                $('#popover-'+id).css('left', (left-theWidth) + 'px');
                $('#popover-'+id).css('top', (scroll+top+10) + 'px');
            }

            else if (status_orizontia == 2 &&  status_katheta == 1) {
                $('#popover-'+id).css('left', (left) + 'px');
                $('#popover-'+id).css('top', (scroll+top-(theHeight)-10) + 'px');
            }

            else if (status_orizontia == 2 &&  status_katheta == 2) {
                $('#popover-'+id).css('left', (left-theWidth) + 'px');
                $('#popover-'+id).css('top', (scroll+top-(theHeight)-10) + 'px');
            }
        }
    </script>

    <script type="text/javascript">
        function showTooltip3(e, id) {
            var offset = $(this).offset();
            var scroll = $('.main-panel').scrollTop();
            var left = e.pageX;
            var top = e.pageY;
            var theHeight = $('#popover-edge-'+id).height();
            var theWidth = $('#popover-edge-'+id).width();
            $('.popover').hide();
            $('#popover-edge-'+id).show();
            $('#popover-edge-'+id).css('left', (left-theWidth/2) + 'px');
            $('#popover-edge-'+id).css('top', (scroll+top-(theHeight)-10) + 'px');
            var pWidth = $(this).innerWidth();
            var pHeight= $(this).innerHeight();
            var status_orizontia = 1; //1 means left, 2 means right
            var status_katheta = 1;  //1 means up, 2 means down
            if (pWidth/2 < left){
                status_katheta = 2;
            }
            if (pHeight/2 < top){
                status_orizontia = 2;
            }
            if (status_orizontia == 1 &&  status_katheta == 1){
                $('#popover-edge-'+id).css('left', (left) + 'px');
                $('#popover-edge-'+id).css('top', (scroll+top+10) + 'px');
            }
            else if (status_orizontia == 1 &&  status_katheta == 2) {
                $('#popover-edge-'+id).css('left', (left-theWidth) + 'px');
                $('#popover-edge-'+id).css('top', (scroll+top+10) + 'px');
            }

            else if (status_orizontia == 2 &&  status_katheta == 1) {
                $('#popover-edge-'+id).css('left', (left) + 'px');
                $('#popover-edge-'+id).css('top', (scroll+top-(theHeight)-10) + 'px');
            }

            else if (status_orizontia == 2 &&  status_katheta == 2) {
                $('#popover-edge-'+id).css('left', (left-theWidth) + 'px');
                $('#popover-edge-'+id).css('top', (scroll+top-(theHeight)-10) + 'px');
            }
        }
    </script>

    <div class="col-sm-offset-1 col-sm-10 panel panel-default" style="padding: 0; margin-top: 0;">
        <div class="panel-body">
            <h1>{{ fcm.title}}</h1>
            <div id="creation"> Created at: {{ fcm.creation_date|date:"d M Y" }}</div>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">More info</button>
            {% if fcm.user == request.user %}
                <a type="button" href="{% url 'fcm_app:edit_fcm' fcm_id=fcm.id %}" class="button btn btn-default" style="background-color: #948a7c; width: 60px;">Edit</a>
            {% endif %}
            <div id="demo" class="collapse">
                <table class="table">
                    <tr><td>Description</td><td>{{ fcm.description }}</td></tr>
                    <tr><td>Country</td><td>{{ fcm.country }}</td></tr>
                    <tr><td>Tags</td><td>{% for tag in fcm.tags.all %} {{ tag.name }} {{ '    ' }} {% endfor %}</td></tr>
                </table>
            </div>
        </div>
    </div>

<!--body onload="init();"-->
<!--h2>Editing the nodes and edges-without-drag (localized)</h2>
<p style="width: 700px; font-size:14px; text-align: justify;">
  The localization is only relevant to the manipulation buttons.
</p-->

<p hidden>
  <label for="locale">Select a locale:</label>
  <select id="locale" onchange="draw();">
    <option value="en">en</option>
    <option value="de">de</option>
    <option value="es">es</option>
    <option value="it">it</option>
    <option value="nl">nl</option>
    <option value="pt-br">pt</option>
    <option value="ru">ru</option>
  </select>
</p>
<!--p><label for="locale" type="hidden">Select a locale:</label></p-->

<div id="node-popUp">
  <span id="node-operation">node</span> <br>
  <table style="margin:auto;">
    <tr hidden>
      <td>id</td><td><input id="node-id" value="la"/></td>
    </tr>
    <tr>
      <td>label</td><td><input id="node-label" value="la" /></td>
    </tr>
  </table>
  <input type="button" value="save" id="node-saveButton" />
  <input type="button" value="cancel" id="node-cancelButton" />
</div>

<div id="edge-popUp">
  <span id="edge-operation">edge</span> <br>
  <table style="margin:auto;">
    <tr>
      <td>weight</td><td><input id="edge-label" value="new value" /></td>
    </tr></table>
  <input type="button" value="save" id="edge-saveButton" />
  <input type="button" value="cancel" id="edge-cancelButton" />
</div>

    <div id="dialog" title="Basic dialog">
        <div id="dlg_text">
            <p></p>
        </div>
    </div>

<br />
<div class="col-sm-offset-1 col-sm-10 panel panel-default" style="padding: 0; margin-top: 0;">
    <div id="mynetwork"></div>
</div>

    {% for key,value in info_dict.items %}
        <div class="popover" id="popover-{{ key }}">
{#            <row>#}
{#                <button type="button" onclick='$(this).closest(".popover").hide()' style="border: none; float: right;">&times</button>#}
{#            </row>#}
            <div class="inner_info" style="max-width: none; padding: 10px; ">
                {% autoescape off %}
                    {{ value }}
                {% endautoescape %}
            </div>
        </div>
    {% endfor %}


    {% for key,value in info_edge_dict.items %}
        <div class="popover" id="popover-edge-{{ key }}">
{#            <row>#}
{#                <button type="button" onclick='$(this).closest(".popover").hide()' style="border: none; float: right;">&times</button>#}
{#            </row>#}
            <div class="inner_info" style="max-width: none; padding: 10px; ">
                {% autoescape off %}
                    {{ value }}
                {% endautoescape %}
            </div>
        </div>
    {% endfor %}

{% endblock %}


{% block js %}
    <script>
        function addX() {
            $(".ui-dialog-titlebar-close").text('x');
        }

    </script>
{% endblock %}